h4 {
	font-weight: bold;
}

#mainContent {
	padding-left: 0px;
	padding-right: 0px;
}

#cloud-upload {
	margin-top: 16px;
}

#login-Row {
	display: none;
}

.messageArea {
	height: 32px;
}

#registerMessage, #loginMessage {
	color: red;
	text-align: center;
}

#user-Logout {
	margin-right: 0px;
}

#modalImage {
	margin: auto;
	width: 270px;
	height: 400px;
}

#crumbMsg {
	margin: auto;
	color: red;
}

#crumbModalBtn {
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 8px;
}

#headerId {
	height: 50px;
}

#logo {
	margin-top: 8px;
}

#logoImage {
	height: 42px;
	width: 42px;
	padding-bottom: 8px;
	float: left;
}

#logoText {
	float: left;
	margin-left: 8px;
	margin-top: 6px;
}
/*button styles*/
button {
	font-family: 'Open Sans', sans-serif;
}
.googleFont {
	font-family: 'Open Sans', sans-serif;
} 

.col-xs-2 {
	padding-left: 0px;
	padding-right: 0px;
}