#cloud-upload {
	margin-top: 16px;
}

#login-Row {
	display: none;
}

#registration-Row {
	display: none;
}

#modalImage {
	margin: auto;
	width: 270px;
	height: 400px;
}

#crumbMsg {
	margin: auto;
	color: red;
}